.layout{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;
}


@media (max-width:576px) {
    .layout{
        gap: 0px;
    }
}