.form-content {
    height: 22em;
    width: 19em;
}
form {
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
}
form > a {
    margin-top: 2em;
    color: #6C757D;
}
form > a:active {
    color: #6C757D;
}
.error {
    font-size: small;
    color: red;
}