.container-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid #cdc9c9;
}
.icon-list-mobile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  visibility: hidden;
}
.icon-list-mobile svg {
  cursor: pointer;
  font-size: 1.8rem;
}
.container-header {
  font-size: 1.5rem;
}
.container-header h1 {
  color: #363636;
  font-family: 'UnifrakturMaguntia', cursive;
}

.container-user {
  width: 15rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.container-user > p {
  font-size: small;
}
.container-user svg {
  cursor: pointer;
}

.container-cart {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
}

.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 8em;
}
@media (max-width: 768px) {
  .container-header h1 {
    font-size: 2rem;
  }
  .container-header{
    padding: 2px;
  }
  .container-user {
    width: auto;
    gap: 0px;
  }
  .icon-list-mobile {
    visibility: visible;
  }
  .container-cart {
    justify-content: center;
    align-items: center;
    width: 300px;

  }
  .container-user > p {
    display: none;
  }
}


